/**
*	author：杨少奎
*
*
*/
body{
	background-image: url("../img/bg_1.jpg");
}
#nav{
	width:514px;
	height: 200px;
	border: 4px solid #746869;
	position:absolute;
	left: 20%;
	top: 20%;
	opacity:0.8;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=80)";
	filter:alpha(opacity=80);
	background-color: #746869;
	padding: 2px;
}
#nav .name{
	background-color: #6179A9;
	width: 
}